<div class="component">
<h2>Add activity</h2>

<p>
	<label>Date:</label>
	<dp-date-picker
		#activityDate
		[(ngModel)]="selectedDate"
		[config]="datePickerConfig"
		required>
	</dp-date-picker>
</p>
<p>
	<label>Type:</label>
	<select #activityType>
		<option value="active">Aktywny ruch</option>
		<option value="passive">Korzystanie z elektroniki</option>
	</select>
</p>
<p>
	<label>Description:</label>
	<input #activityDescription/>
	</p>
<p>
	<label>Duration:</label>
	<input #activityDuration/>
</p>

<button (click)="addActivity(activityDate.value, activityType.value, activityDescription.value, activityDuration.value); activityDate.value=''; activityType.value=''; activityDescription.value=''; activityDuration.value='';	">Add</button>
</div>