<div class="component">
<h2>Change password</h2>

<p class="message">{{message}}</p>

<p>
	<label>Current password:</label>
	<input type="password" #currentPassword/>
</p>

<p>
	<label>New password:</label>
	<input type="password" #newPassword/>
</p>

<p>
	<label>Confirm new password:</label>
	<input type="password" #confirmedNewPassword/>
</p>

<button (click)="changePassword(currentPassword.value, newPassword.value, confirmedNewPassword.value); currentPassword.value=''; newPassword.value=''; confirmedNewPassword.value='';">Change password</button>

</div>