<div class="component">
<h2>Login</h2>
<p>Status: {{message}}</p>

<div *ngIf="!authService.isLoggedIn()">
	<p><label for="userName">User name </label><input #formUserName id="userName" [value]="userName"/></p>
	<p><label for="userPassword">User password </label><input #formUserPassword id="userPassword" type="password" [value]="userPassword" (keyup.enter)="login(formUserName.value, formUserPassword.value)"/></p>
	<p><button (click)="login(formUserName.value, formUserPassword.value)">Login</button></p>
</div>

<div *ngIf="authService.isLoggedIn()">
    <p><button (click)="logout()">Logout</button></p>
</div>

<a *ngIf="authService.isLoggedIn()" routerLink="/changepassword" routerLinkActive="active">Change password</a>