<div class="userSelector">
<p>Current user: <b>{{userName}}</b></p>
</div>

<div class="component">
    <h2>Duties</h2>

    <table>
        <tr>
            <th>Date</th>
            <th *ngFor="let dutyType of dutyTypes">{{dutyType}}</th>
        </tr>
        <tr *ngFor="let dutyInfo of dutiesTableData">
            <td>{{dutyInfo.date}}</td>
            <td *ngFor="let dutyStatus of dutyInfo.dutyStatuses">
                <div (click)="changeStatus(dutyStatus)" class="statusIndicator statusIndicator_{{dutyStatus.status}}"></div>
            </td>
        </tr>
    </table>
</div>